* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #E6E7E8;
    font-family: 'Open Sans' !important;
}

a, a:visited, a:link, a:focus {
    text-decoration: none;
    outline: none;
}

a img {
    border: 0;
}

ul li{list-style-type: none;}

.displayblock:after {
  content: '';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
}
#mediaBox{
    width: 800px;
    height: 321px;
    overflow:hidden;
    margin: 0px;
    position: relative;
}

#mediaBox > div{
    width: 400px;
    height: 321px;
    float: left;
    position: relative;
    /*overflow: hidden;*/
}

#mediaBox .ps-scrollbar-y {
    width: 4px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    right: 4px;
}

#mediaBox .ps-scrollbar-y-rail{
    width: 4px;
    right: 5px;
    background: transparent;
}

#playerholder{
    background:#282828;
    position: relative;
}
#playlistholder{
    background:#181818;
}

#player{
    height:230px;
    background:#000;
}
.playeroverlay{
    height:230px;
    width: 400px;
    /*opacity: 0.2;*/
    background:#000;
    position:absolute;
    left: 0;
    top: 0;
    display: none;
}

#playerholder.novideo .playeroverlay{display: block;}

#playerholder .videoinfos{
    position: relative;
    display: flex;
    height:91px;
    align-items: center;
  justify-content: center;
    padding: 0px 10px 0px 18px ;
}



.videoinfos ul{
    margin: -15px auto 0; 
    width: 100%;
}

.videoinfos ul li{
    position: relative;
    min-height:14px;
}



.videoinfos h3{
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    color: #fff;
    font-size: 17px;
    padding: 0 50px 12px 0;
    
}

.videoinfos .ranks{
    display: inline-block;
    line-height: 14px;
    height: 14px;
    font-size: 11px;
    color: #b4b4b4;
    float: left;
    margin-right: 20px;
}


.videoinfos .ranks span{
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: block;
    float: left;
    margin-right: 2px;
    color: #fff;
    opacity: 0.5;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.videoinfos .ranks pre{
    display: inline-block;
    float: left;
}

.videoinfos .ranks span:hover, .videoinfos .ranks span.active{
    opacity: 1;
}

.videoinfos .ranks span.active{
    cursor: default;
}

.videoinfos .ranks span:after{
    width: 14px;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    font-family: "player-font";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: baseline;
}

.videoinfos .ranks.like span:after{
    content: "\e885";
    margin-top: -2px;
}

.videoinfos .ranks.dislike span:after{
    content: "\e887";
    margin-top: 2px;
}

.videoinfos .liked{
    width: 14px;
    height: 14px;
    /*cursor: pointer;*/
    display: block;
    color: #fff;
    opacity: 0.75;
    position: absolute;
    right: 10px;
    top:0px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.videoinfos .liked:hover{
    opacity: 1;
}

.videoinfos .liked:after{
    width: 14px;
    height: 14px;
    font-size: 14px;
    display: inline-block;
    font-family: "player-font";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: baseline;
    content: "\e845";
}

.videoinfos .liked.marked:after{
    color: #f24daf;
    content: "\e857";
}

#playlistholder .header{
    height: 30px;
    line-height: 30px;
    background: #282828;
    color: #fff;
    font-size: 11px;
    padding-left: 15px;
    border-bottom: 1px solid #181818;
}

#playlistholder .header ul{
    float: right;
    height: 16px;
    margin-top: 0px;
}

#playlistholder .header ul li{
    width:16px;
    height: 16px;
    float: left;
    margin-right: 23px;
}

#playlistholder .header .Btns{
    width:16px;
    height: 16px;
    cursor: pointer;
    opacity: 0.55;
    display: block;
    color:#fff;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#playlistholder .header .Btns:hover, #playlistholder .header .Btns.active{
    opacity: 1;
    /*color: #00aeef;*/
}

#playlistholder .header .Btns:after{
    width: 16px;
    height: 16px;
    font-size: 18px;
    display: inline-block;
    font-family: "player-font";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: baseline;
}

#playlistholder .header .Btns.views:after{
    content: "\e87d";
}

#playlistholder .header .Btns.like:after{
    content: "\e845";
    font-size: 16px;
}

#playlistholder .header .Btns.Uploaded:after{
    content: "\e81a";
}


#playlistholder .playlist{
    height: 295px;
    position: relative;
    overflow:hidden;
}



#playlistholder .playlist li{
    padding: 9px 80px 9px 100px;
    height: 40px;
    color: #fff;
    position: relative;
    cursor: pointer;
    max-height: 40px;
    overflow: hidden;
    background: transparent;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    border-left: 1px solid transparent;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

#playlistholder .playlist li:hover, #playlistholder .playlist li.active {
    background: #282828;
    border-left: 1px solid #181818;
}

/*#playlistholder .playlist li:first-child:hover, #playlistholder .playlist li:first-child.active {
    border-left: none;
}*/

#playlistholder .playlist li.active {cursor: default;}


#playlistholder .playlist img{
    width: 70px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 9px;
}

#playlistholder .playlist h3{
    font-size: 13px;
    line-height: 14px;
    padding: 0px;
    margin: 0;
    font-weight: 300;
    max-height: 30px;
    overflow: hidden;
    opacity: 0.75;
    -webkit-transition: color 0.3s, opacity 0.3s;
    -moz-transition: color 0.3s, opacity 0.3s;
    -o-transition: color 0.3s, opacity 0.3s;
    transition: color 0.3s, opacity 0.3s;
}

#playlistholder .playlist .text{
    font-size: 10px;
    opacity: 0.5;
    line-height: 10px;
    padding: 2px 0 0;
    margin: 0;
    font-weight: 400;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#playlistholder .playlist li:hover h3{
    opacity: 1;
}


#playlistholder .playlist li.active h3{
    color: #00aeef;
    opacity: 1;
}

#playlistholder .playlist span{
    width:14px;
    height: 14px;
    opacity: 0.75;
    display: block;
    position: absolute;
    top: 10px;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

#playlistholder .playlist li:hover span, #playlistholder .playlist li.active span{
    opacity: 1;
}

#playlistholder .playlist span.liked{right:22px;}

#playlistholder .playlist span.liked:after{
    width: 14px;
    height: 14px;
    font-size: 12px;
    display: inline-block;
    font-family: "player-font";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: baseline;
    color: #fff;
    content: "\e845";
}

#playlistholder .playlist span.liked.marked:after{
    color: #f24daf;
    content: "\e857";
}

#playlistholder .playlist span.playing{
    width: 23px;
    height: 16px;
    background: url(../images/equalizer-mystart.gif) no-repeat;
    display: none;
    right: 40px;
    top: 15px;
}

#playlistholder .playlist span.playing.paused{
    background-image: url(../images/equalizer-mystart.png);
}

#playlistholder .playlist li.active span.playing{display:block;}

.playlist .favoritesnotice {
    padding: 0 15px;
    color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: center;
}

.playlist .favoritesnotice {
    font-size: 15px;
    font-weight: 600 !important;
    color: #fff;
    padding: 130px 15px 0;
    line-height: 22px;
    position: relative;
}

.playlist .favoritesnotice p {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    opacity: 0.75;
}

.playlist .favoritesnotice .icon {
    display: block;
    height: 32px;
    width: 32px;
}

.playlist .favoritesnotice .icon:after {
    width: 32px;
    height: 32px;
    font-size: 32px;
    line-height: 32px;
    font-weight: inherit;
    display: inline-block;
    content: "\e845";
    font-family: "player-font";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-decoration: inherit;
    text-transform: none;
    color: #fff;
    opacity: 1;
    position: absolute;
    left:160px;
    top: 70px;
}

.playlist .favoritesnotice h2 {
    font-size: 15px;
    font-weight: 600 !important;
    color: #fff;
    padding: 0 0 8px;
    line-height: 22px;
}