@font-face {
  font-family: 'player-font';
  src: url('mystart-font.eot?51074582');
  src: url('mystart-font.eot?51074582#iefix') format('embedded-opentype'),
       url('mystart-font.woff2?51074582') format('woff2'),
       url('mystart-font.woff?51074582') format('woff'),
       url('mystart-font.ttf?51074582') format('truetype'),
       url('mystart-font.svg?51074582#mystart-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
